<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
<head>
	<title>Predictions</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

</head>

<!-- Adding some style to table (OPTIONAL) -->
<style type="text/css">

	th:tr{
		color: blue;

	}
	tr:nth-of-type(2n){
		border: 1px solid black;
		background-color: rgba(150, 150, 150, 0.5);

	}

	td{
		padding: 8px 8px;
		border: 1px solid black;
	}
</style>

<body>

<center>

<h1>{{items}}</h1>
</center>
</body>
</html>
